#call              { width: 500px; height: 550px; position: relative; display: block; margin: 0 auto; border:0px solid red;background: #dedede }
#call video        { background: black; border: 1px solid gray; }
#call video#local  { width: 150px; height: 150px; position: absolute; top: 15px; right: 15px;}
#call video#remote { width: 500px; height: 500px;}
#call button       { width:40px  ;background: #EFEFEF}
#call #controlls button,#call #controlls input{
    line-height:20px;border-radius:5px;border:1px solid #cdcdcd;padding:5px;margin:5px;float:left
}
