video       { background: black; border: 1px solid gray; }
div#call    { width: 500px; height: 500px; position: relative; display: block; margin: 0 auto; }
video#local { width: 150px; height: 150px; position: absolute; top: 15px; right: 15px;}
video#remote{ width: 500px; height: 500px;}
#login      { display:none }
